.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3px;
  width:100px;
  height:45px;
}

.featuredFilm {
  /* min-width: 800px; */
}

.featuredList {
  max-height: 275px;
  width: 200px;
  margin-left: 8px;
}

.featuredMuseumList {
  max-height: 275px;
  width: 260px;
  margin-left: 8px;
}

.moveRight {
  position: absolute;
  right: 0;
  top: 0;
  margin: 60px 15px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.floatRightPls {
  float: right;
}
