
.bottomPage {
  position: absolute;
  bottom:0;
  padding-bottom: 5px;
}
.roundedSearchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  height: 40px;
  border-radius: 20px;
  border: 2px #000 solid;
  background-color: white;
}
.noBorder {
  border: none;
  outline-width: 0;
  width: 90%;
  text-align: center;
}
.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3px;
  width:100px;
  height:45px;
}
.indent {
  padding-left: 20px;
}
#display {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 25px;
  margin-top: 86px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.floatRightPls {
  float: right;
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 3px;
  width:100px;
  height:45px;
}
